# 네이버 금융 일별 주가 크롤링 코드
  
anaconda prompt에서  
pip install requests  
pip install bs4  
를 입력해 각 라이브러리를 받아주세요

In [1]:
import requests
import pandas as pd
from bs4 import BeautifulSoup
import matplotlib.pyplot as plt

넥슨지티  
넷마블  
엔씨소프트  
게임빌  
컴투스  
엠게임

In [2]:
code = '041140'
# code = '251270'
# code = '036570'
# code = '063080'
# code = '078340'
# code = '058630'

In [ ]:
#주식 코드 입력
code = ''

In [6]:
url = 'https://finance.naver.com/sise/sise_index_day.nhn?code=KOSPI'
headers = {'user-agent':'Mozilla/5.0 (Macinthosh; Intel Mac OS X 10_14_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/73.0.3683.103 Safari/537.36'}
req = requests.get(url, headers = headers)

soup = BeautifulSoup(req.text, 'html.parser')
last_page = int(soup.select_one('td.pgRR').a['href'].split('=')[-1])

df = None
for page in range(1, last_page):
    req = requests.get(f'{url}&page={page}', headers = headers)
    df = pd.concat([df, pd.read_html(req.text, encoding = 'euc-kr')[0]], ignore_index = True)

df.dropna(inplace=True)
df.reset_index(drop = True, inplace=True)
df
# last_page

              날짜      체결가    전일비     등락률    거래량(천주)    거래대금(백만)
0     2021.04.26  3217.53  31.43  +0.99%  1298330.0  15753767.0
1     2021.04.23  3186.10   8.58  +0.27%  2253793.0  15653205.0
2     2021.04.22  3177.52   5.86  +0.18%  1752691.0  14862861.0
3     2021.04.21  3171.66  49.04  -1.52%  1767090.0  16916024.0
4     2021.04.20  3220.70  21.86  +0.68%  1296160.0  14508206.0
...          ...      ...    ...     ...        ...         ...
8141  1990.01.11   903.27   8.21  -0.90%    12647.0    274573.0
8142  1990.01.10   911.48   8.73  -0.95%    15278.0    322830.0
8143  1990.01.09   920.21   0.75  +0.08%    18646.0    382992.0
8144  1990.01.08   919.46   6.60  +0.72%    17577.0    369946.0
8145  1990.01.06   912.86   2.25  -0.25%    12519.0    269397.0

[8146 rows x 6 columns]

In [3]:
df.to_csv('KOSPI.csv', index = None, na_rep = 'NaN', encoding='euc-kr')